.Loading-Overlay {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-image {
    width: 64px;         
    height: 64px;
    animation: rotateSquare 1.2s linear infinite;
    margin-bottom: 12px;
}

@keyframes rotateSquare {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}